body {
  /* 使用颜色 #aabbcc，不做任何处理，等同于直接书写 #aabbcc */
  color: rgb(170, 187, 204);
  /* 将颜色 #aabbcc 透明度设置为 90% */
  color: rgba(170, 187, 204, 0.9);
  /* 将颜色 #aabbcc 的红色部分设置为 90% */
  color: rgb(230, 187, 204);
  /* 将颜色 #aabbcc 调亮 50%（更加趋近于白色），类似于 Less 中的 lighten() 函数 */
  color: rgb(213, 221, 230);
  /* 将颜色 #aabbcc 调暗 50%（更加趋近于黑色），类似于 Less 中的 darken() 函数 */
  color: rgb(85, 94, 102);
}