:root {
  --warn: #ffbb00;
}

.msg-warn {
  background-color: var(--warn);
}

.item{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}