.test1 {
  height: 100px;
  width: 300px;
  margin-block: 10px;
  color: #fff;
  background-color: #f40;
}
.test2 {
  height: 100px;
  width: 300px;
  margin-block: 10px;
  color: #fff;
  background-color: #ff6933;
}
.test3 {
  height: 100px;
  width: 300px;
  margin-block: 10px;
  color: #fff;
  background-color: #ff8f66;
}
